.contenedord{
    border: 3px inset lightgrey;
    height: 59vh;
    width: 98vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    box-shadow: 10px 10px 10px rgb(36, 35, 35);
    overflow: hidden;
    background-color: black;
    margin-right: 3px;
    
}

#slide{
    border: none;
    color: white;
    background: none;
    height: 10%;
    width: 5%;
    position: absolute;
    font-size: 35px;
    margin: 8px;


   

}


#imagend{
    margin-top: 20px;
    
    width:  100%;
    height: 100%;
    
}

